<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <h1 th:text="Olá, ' + ${guestName} + ' !">Olá, [Nome]</h1>
    <p>Você foi convidado(a) para o evento: <strong th:text="${eventName}">[nomeEvento]</strong></p>
    <p>Data: <span th:text="${temporals.format(eventDate, 'dd/MM/yyyy HH:mm')}">[data]</span></p>

    <p>
        <a th:href="${confirmationUrl}"
        style="background-color: green; color: white; padding: 10px 20px; text-decoration: none; border-radius: 8px;">Confirmar presença</a>
    </p>

    <p>Ou copie esse link: <code th:text="${confirmationUrl}"></code></p>

</body>
</html>